# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib
#*.dll		These are allowed because models are too easy to accidently ignore for demo repositories

# Executables
*.exe

# Metadata
*.aliases
*.lvlps

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
